extends ../../../views/layout_error

block content
	div.container
			h1 Not found
			p Sorry, but the page you were trying to view does not exist.
			p It looks like this was the result of either:
			ul
				li a mistyped address
				li an out-of-date link