extends ../../../views/layout

block content
  br
  header  
    div.col-md-6.col-md-offset-3
        
      
  div(id="login").container-fluid
    div.row
      div.col-md-12.col-md-offset-.5
        h1 Datos del usuario
        div(id="datosuser").col-xs-6

        h1 Actividades
        div(id="actividades").col-xs-6
