extends ../../../views/layout_frontpage

block content
  br
  br
  br
  div.container
    div.row
      div.col-md-12.col-md-offset-.5
        div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
            <!-- Indicators -->
            ol(class="carousel-indicators")
              li(data-target="#carousel-example-generic" data-slide-to="0" class="active")
              li(data-target="#carousel-example-generic" data-slide-to="1")
            <!-- Wrapper for slides -->
            div(class="carousel-inner")
              div(class="item active")
                div.row
                  div.col-xs-6.col-md-3
                    h4.text-center Curso numero 1
                    div.well
                      br
                      br
                      p.text-center Descirpcion del curso numero 1
                  div.col-xs-6.col-md-3
                    h4.text-center Curso numero 2
                    div.well
                      br
                      br
                      p.text-center Descirpcion del curso numero 2
                  div.col-xs-6.col-md-3
                    h4.text-center Curso numero 3
                    div.well
                      br
                      br
                      p.text-center Descirpcion del curso numero 3
                  div.col-xs-6.col-md-3
                    h4.text-center Curso numero 4
                    div.well
                      br
                      br
                      p.text-center Descirpcion del curso numero 4
              div(class="item")
                div.row
                  div.col-xs-6.col-md-3
                    h4.text-center Curso numero 5
                    div.well
                      br
                      br
                      p.text-center Descirpcion del curso numero 5
                  div.col-xs-6.col-md-3
                    h4.text-center Curso numero 6
                    div.well
                      br
                      br
                      p.text-center Descirpcion del curso numero 6
                  div.col-xs-6.col-md-3
                    h4.text-center Curso numero 7
                    div.well
                      br
                      br
                      p.text-center Descirpcion del curso numero 7
                  div.col-xs-6.col-md-3
                    h4.text-center Agregar Curso
                    div.well
                      br
                      br
                      p.text-center Agregar Curso
            <!-- Controls -->
            a(class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev")
              span(class="glyphicon glyphicon-chevron-left")
            a(class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next")
              span(class="glyphicon glyphicon-chevron-right")