extends ../../../views/layout

block content
  br
  header  
    div.col-md-6.col-md-offset-3
      - if (messages.success)
        div.alert.alert-success.alert-dismissable
          button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
          span.text-center= messages.success
  div(id="login").container-fluid
    div.row
      div.col-md-12.col-md-offset-.5
        h1= title
        div(id="formlogin").col-xs-6
          - if (messages.error)
            div.alert.alert-danger.alert-dismissable
              button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
              span= messages.error
          form(action="/login", method="post", role="form").form-group
            div.form-group
              label(for="username") Username:
              input(type="email", name="username", id="username").form-control
            div.form-group
              label(for="password") Password:
              input(type="password", name="password", id="password").form-control
            div.form-group
              a(href="/recoverpassword") Has olvidado tu contraseña?
              br
              br
              button(type="submit").btn.btn-success.pull-right Sing in 
                span.glyphicon.glyphicon-ok-sign
        div(id="preregisterlog").col-xs-6
          h2.text-center Aun no te has Registrado?
          p Realiza tu Pre-registro y espera a que sea autorizado tu registro para poder accender.
          a(href="/preregister").btn.btn-primary.pull-right Pre-registro 
            sapn.glyphicon.glyphicon-plus