extends ../../../views/layout

block content
  div.container 
    div.row
      div.col-md-6.col-md-offset-3
        h1.text-center Mis cursos
        div.well
          h3.text-center= result.fullNam
        div.well
          a(href='/'+ result._id).