div#wrapper
  nav(role="navigation", style="margin-bottom: 0").navbar.navbar-default
    div.container-fluid
      <!-- Brand and toggle get grouped for better mobile display -->
      div.navbar-header    
        button(type="button", data-toggle="collapse", data-target="#navbar").navbar-toggle
          span.sr-only Toggle navigation
          span.icon-bar

        a(href="#").navbar-brand 
      
      div.collapse.navbar-collapse#navbar
        ul.nav.navbar-nav
          li.active
            a(href="/")
              img(src="../public/images/logo.jpg").img-responsive
        ul.nav.navbar-nav.pull-right
          li.active
            h2 Bienvenido 