div#wrapper
  nav(role="navigation", style="margin-bottom: 0").navbar.navbar-inverse
    div.container-fluid
      <!-- Brand and toggle get grouped for better mobile display -->
      div.navbar-header    
        button(type="button", data-toggle="collapse", data-target="#navbar").navbar-toggle
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href="#").navbar-brand 
      
      div.collapse.navbar-collapse#navbar
        ul.nav.navbar-nav
          li.active
            a(href="/") Home
        if (!locals.isLogged) 
          ul.nav.navbar-nav.pull-right
            li.active
              a(href="/login") Login
        if (locals.isLogged) 
          ul.nav.navbar-nav.pull-right
            li.active
              a(href="/logout") Cerrar session
        if (locals.isAdmin)
          ul.nav.navbar-nav.pull-right
            li.active
              a(href="/preusers") Admón. Pre-usuarios
            ul.nav.navbar-nav.pull-right
              li.active
                a(href="/users") Admón. Usuarios
            ul.nav.navbar-nav.pull-right
              li.active
                a(href="/courses") Admón de Cursos
            ul.nav.navbar-nav.pull-right
              li.active
                a(href="/activities") Admón de Actividades
            ul.nav.navbar-nav.pull-right
              li.active
                a(href="/sendmail") Enviar correo
          ul.nav.navbar-nav.pull-right
            li.active
              a(href="/user/" + session) Mi Perfil
        
        if (locals.isUser)
          ul.nav.navbar-nav.pull-right
              li.active
                a(href="/courses") Admón de Cursos
          ul.nav.navbar-nav.pull-right
            li.active
              a(href="/user/" + session) Mi Perfil
        