doctype html
html
  head
    title= title
    include styles
  body(style="background-image: url('../public/images/imagesback.jpg)")
    include headerfrontpage
    block content
    include scripts
    block scripts