body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}
body{
	background-image:url("../images/textura.jpg")
}

/*Login*/
#login {
	padding-top: 4em;
}
#login h1{
	padding-left: 8em;
}
#formlogin {
	padding-top: 4em;
	padding-left: 10em;
	padding-right: 10em;
}
#preregisterlog {
	padding-top: 1em;
	padding-left: 5em;
	padding-right: 6em;
	font-size: 20px;
}

/*Preregistro*/
#formpreregistro {
	padding-top: 4em;
	padding-left: 10em;
	padding-right: 10em;
}

#preregister {
	padding-top: 4em;
}