body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image:url("../images/textura.jpg");
	background-attachment: fixed;
}

a {
  color: #00B7FF;
}

/*Login*/
#login {
	padding-top: 4em;
}
#login h1{
	padding-left: 8em;
}
#formlogin {
	padding-top: 4em;
	padding-left: 10em;
	padding-right: 10em;
}
#preregisterlog {
	padding-top: 1em;
	padding-left: 5em;
	padding-right: 6em;
	font-size: 20px;
}

/*Preregistro*/
#formpreregistro {
	padding-top: 4em;
	padding-left: 10em;
	padding-right: 10em;
}
#preregister {
	padding-top: 4em;
}
#listapreregistro{
	padding-top: 2em;
}

/*Courses*/
#newcourse {
	padding-top: 4em;
}
#formnewcourse{
	padding-top: 4em;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 18px;
}

/*Recovery*/
#recover {
	padding-top: 5em;
}
#recover h1 {
	padding-right: 1em
}
#recoverform {
	padding-top: 3em;
	padding-right: 7em;
	padding-left: 5em;
}

/*Send Mail*/
#sendmail {
	padding-top: 3em;
}
#tablamaterias {
	padding-top: 2em;
}
#tablaalumnos {
	padding-top: 3em;
	padding-bottom: 2em;
}
#formcorreo {
	padding-top: 2em;
}
#btnenvio {
	padding-bottom: 4em;
}

/*Users*/
#users {
	padding-top: 2em;
}
#tablematerias {
	padding-top: 1em;
	padding-left: 17em;
}
#tableusuarios {
	padding-top: 1em;
	padding-left: 7em;
}

/*404*/
#error404{
	background-image:url("../images/.jpg");
	background-repeat: no-repeat;
	height: 20em;
	padding-top: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
	padding-left: 2em;
}