extends ../../../views/layout

block content
  div.container
    div.row
      div.col-md-12.col-md-offset-.5
        h1!= title
        div.well
          hr
          - if (messages.error)
            div.alert.alert-danger.alert-dismissable
              button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
              span= messages.error
          form(method="post" action="/newaviso")
            div.form-group
              each materia  in result
                input(type="checkbox", name="materia", value=materia.name)
                = materia.name
                br
              label(for="descripcion") Descripcion:
              textarea(name="aviso", id="aviso").form-control
            div.form-group
              button(type="submit").pull-rigth.btn.btn-success Enviar
block scripts
  script(type="text/javascript").
    CKEDITOR.replace('aviso');